<div id="page">
  <header id="header" role="banner">
    {% if logo %}
      <a href="{{front_page}}" title="home" rel="home" id="logo"><img src="{{logo}}" alt="Home" /></a>
    {% endif %}
    {% if site_name && site_slogan %}
      <hgroup id="name-and-slogan">
        {% if site_name %}
          <h1 id="site-name">
            <a href="{{front_page}}" title="Home" rel="home"><span>{{site_name}}</span></a>
          </h1>
        {% endif %}
        {% if site_slogan %}
          <h2 id="site-slogan">{{site_slogan}}</h2>
        {% endif %}
      </hgroup><!-- /#name-and-slogan -->
    {% endif %}
    {% render(page.header) %}
  </header>
  <div id="main">
    {% render(page.highlighted) %}
    {{breadcrumb}}
    <a id="main-content"></a>
    {% render(page.title_prefix) %}
    {% if title %}
      <h1 class="title" id="page-title">{{title}}</h1>
    {% endif %}
    {% render(page.title_suffix) %}
    {{messages}}
    {% render(tabs) %}
    {% render(help) %}
    {% if action_links %}
      <ul class="action-links">{% render(action_links) %}</ul>
    {% endif %}
    {% render(page.content) %}
    {{feed_icons}}
  </div><!-- /#main -->
  {% render(page.footer) %}
</div><!-- /#page -->